name: helm-actions-testing

on:
    push:
        branches:
            - main

jobs:
    helm-actions-testing:
        runs-on: ubuntu-latest

        steps:
            - name: Helm actions
              run: |
                  git clone https://github.com/Akashpawar11/pingpong1.git
                  cd pingpong1
                  git config --global user.name "wohligakash"
                  git config --global user.email "akash.pawar@wohlig.com"
                  yq e '.replicaCount = "6"' -i helm-chart/values.yaml
                  curl -LO https://get.helm.sh/helm-v3.8.0-linux-amd64.tar.gz
                  tar -zxvf helm-v3.8.0-linux-amd64.tar.gz
                  mv linux-amd64/helm /usr/local/bin/helm
                  helm version
                  helm template uat-env ./helm-chart > manifests.yaml
                  helm upgrade --install helm-demo ./helm-chart
                  cat manifests.yaml
