name: api-production

on:
    # Trigger the workflow on push,
    # but only for the production branch
    push:
        branches:
            - main

jobs:
    api-production:
        runs-on: ubuntu-latest

        steps:
            - name: Git clone
              run: |
                  git clone https://github.com/Akashpawar11/pingpong1.git
                  cd pingpong1/helm-chart
                  git config user.name "wohligakash"
                  git config user.email "akash.pawar@wohlig.com"
                  git config user.password "Github@7411"
                  yq e '.replicaCount = "4"' -i values.yaml