name: helm-actions-testing

on:
    push:
        branches:
            - main

env:
    GITHUB_TOKEN: ${{ secrets.auth_token }}

jobs:
    codacy-analysis-cli:
        name: Codacy Analysis CLI
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@main

          - name: Run Codacy Analysis CLI
            uses: codacy/codacy-analysis-cli-action@master

    codacy-coverage-reporter:
      runs-on: ubuntu-latest
      name: codacy-coverage-reporter
      steps:
        - name: codacy-coverage-reporter-dl
          run: 
            echo "export CODACY_PROJECT_TOKEN=e956d22213f4498694001d501e0f3453"
            bash <(curl -Ls https://coverage.codacy.com/get.sh)
 
        - name: codacy-coverage-reporter
          uses: codacy/codacy-coverage-reporter-action@v1
          with:
              project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

              
          # or
          # api-token: ${{ secrets.CODACY_API_TOKEN }}
              coverage-reports: ./report.json
          # or a comma-separated list for multiple reports
          # coverage-reports: <PATH_TO_REPORT>, <PATH_TO_REPORT>

    helm-actions-testing:
        runs-on: ubuntu-latest
        needs: codacy-analysis-cli

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: login to docker hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}  
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set env
              run: echo "GITHUB_BRANCH=$(echo $GITHUB_REF_NAME-$GITHUB_SHA)" >> $GITHUB_ENV

            - name: Helm installation
              run: |                  
                  curl -LO https://get.helm.sh/helm-v3.8.0-linux-amd64.tar.gz
                  tar -zxvf helm-v3.8.0-linux-amd64.tar.gz
                  mv linux-amd64/helm /usr/local/bin/helm
                  helm version

            - name: Build the Docker image
              run: |
                  docker build -t wohligakash/pingpong:$GITHUB_REF_NAME-$GITHUB_SHA . 
                  docker push wohligakash/pingpong:$GITHUB_REF_NAME-$GITHUB_SHA

            - name: Helm template and git--push
              run: |
                  git clone https://github.com/Akashpawar11/pingpong-gitops.git                 
                  cd pingpong-gitops
                  
                  yq e '.image = "wohligakash/pingpong:${{ env.GITHUB_BRANCH }}"' -i helm-chart/values.yaml
                  helm template uat-env ./helm-chart > manifest-file/manifests.yaml
                  cat manifest-file/manifests.yaml    

                  git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/Akashpawar11/pingpong-gitops.git
                  git config user.name "$GITHUB_ACTOR"
                  git config user.email "akash.pawar@wohlig.com"

                  git add .
                  git commit -m "Updating newer image"
                  git push origin main