name: helm-actions-testing

on:
    push:
        branches:
            - main

env:
    GITHUB_TOKEN: ${{ secrets.auth_token }}

jobs:
    helm-actions-testing:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Helm installation
              run: |                  
                  curl -LO https://get.helm.sh/helm-v3.8.0-linux-amd64.tar.gz
                  tar -zxvf helm-v3.8.0-linux-amd64.tar.gz
                  mv linux-amd64/helm /usr/local/bin/helm
                  helm version

            - name: Helm template and git--push
              run: |
                  git clone https://github.com/Akashpawar11/pingpong-gitops.git
                  cd pingpong-gitops
                  yq e '.replicaCount = "9"' -i pingpong1/helm-chart/values.yaml
                  helm template uat-env ./helm-chart > manifests.yaml
                  cat manifests.yaml
                  git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/Akashpawar11/pingpong-gitops.git
                  git config user.name "$GITHUB_ACTOR"
                  git config user.email "akash.pawar@wohlig.com"
                  git config user.name
                  git config user.email
                  git add .
                  git commit -m "commit through pipeline"
                  git push origin main