name: helm-actions-testing

on:
    push:
        branches:
            - main
            
    pull_request:
        branches:
            - main
      
env:
    GITHUB_TOKEN: ${{ secrets.auth_token }}
    JIRA_API_TOKEN: ATATT3xFfGF0Kh99hW58l_czIQIUNJwxaZDIIhdXMBvS8aE1sFKQHpT9_aVjIw9E_myjXCpkdb3ZQA12gxJJCxWN5_qRbr43JbE81EDgokBrelJl6TdYG7Xw7_F5O2BRib-udgfKzESwKkDUBiPBotrBI_KxaUv1lRMJNTb3n50ctEDiBEcxHBU=B0BF18C0

jobs:
    codacy-analysis-cli:
        name: Codacy Analysis CLI
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@main

          - name: Run Codacy Analysis CLI
            uses: codacy/codacy-analysis-cli-action@master

    helm-actions-testing:
        runs-on: ubuntu-latest
        needs: codacy-analysis-cli

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: login to docker hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}  
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set env
              run: echo "GITHUB_BRANCH=$(echo $GITHUB_REF_NAME-$GITHUB_SHA)" >> $GITHUB_ENV

            - name: Helm installation
              run: |                  
                  curl -LO https://get.helm.sh/helm-v3.8.0-linux-amd64.tar.gz
                  tar -zxvf helm-v3.8.0-linux-amd64.tar.gz
                  mv linux-amd64/helm /usr/local/bin/helm
                  helm version

            - name: Build the Docker image
              run: |
                  docker build -t wohligakash/pingpong:$GITHUB_REF_NAME-$GITHUB_SHA . 
                  docker push wohligakash/pingpong:$GITHUB_REF_NAME-$GITHUB_SHA

            - name: Helm template and git--push
              run: |
                  git clone https://github.com/Akashpawar11/pingpong-gitops.git                 
                  cd pingpong-gitops
                  
                  yq e '.image = "wohligakash/pingpong:${{ env.GITHUB_BRANCH }}"' -i helm-chart/values.yaml
                  helm template uat-env ./helm-chart > manifest-file/manifests.yaml
                  cat manifest-file/manifests.yaml    

                  git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/Akashpawar11/pingpong-gitops.git
                  git config user.name "$GITHUB_ACTOR"
                  git config user.email "akash.pawar@wohlig.com"

                  git add .
                  git commit -m "Updating newer image"
                  git push origin main

    update-jira-status:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Update Jira issue status
      env:
        JIRA_API_TOKEN: ${{ env.JIRA_API_TOKEN }}
      run: |
        # Authenticate to Jira API
        curl -H "Authorization: Bearer $JIRA_API_TOKEN" -X PUT --data '{"fields":{"status":{"name":"Done"}}}' -H "Content-Type: application/json" https://playexch.atlassian.net/browse/DO-1240

        # Check API response
        response=$(curl -H "Authorization: Bearer $JIRA_API_TOKEN" https://playexch.atlassian.net/browse/DO-1240
        echo "Jira API Response: $response"

